.bg-top {
    width: 100vw;
    height: 20vh;
    background-color: darkcyan;
}

img {
    width: 40px;
    padding: 5px;
}

.bg-botton {
    width: 100vw;
    height: 80vh;
    background-color: blanchedalmond;
}

main {
    height: 100vh;
}

section {
    z-index: 54343;
}

div.bg-info i.fas {
    font-size: 30px;
    color: aqua;
    border-radius: 50%;
}

.fas {
    color: grey;
    padding: 0 6px;
}

span.text-decoration-underline {
    font-size: 14px;
    color: gray;
}